name: Release
on: [workflow_dispatch] # Manual trigger
jobs:
  build:
    runs-on: ubuntu-20.04
    container:
      image: openjdk:16-jdk
      options: --user root
    steps:
      - uses: actions/checkout@v1
      - uses: gradle/wrapper-validation-action@v1
      - run: chmod +x ./gradlew
      - run: ./gradlew build publish --stacktrace
        env:
          MAVEN_URL: ${{ secrets.MAVEN_URL }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

  docs:
    name: Generate Docs
    runs-on: ubuntu-latest
    container:
      image: openjdk:16-jdk-buster
      options: --user root
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Get git
        run: apt-get install git

      - name: Build docs
        run: |
          chmod +x ./gradlew
          ./gradlew githubCMDDocs githubJavadoc --stacktrace

      - name: Create commit
        uses: EndBug/add-and-commit@v7
        with:
          add: "."
          default_author: github_actions
          message: Update docs
          push: true
          signoff: true
